$tipografia: poppins;
$colorPrimario: #ffff00;
$colorPrimarioSuave: #ffff003f;
$colorCartelVuelo: #00000033;

* {
  margin: 0;
  padding: 0;
}

.SeccionLanding {
  height: 100vh;
  display: flex;
  font-size: 10px;
}
.SeccionLanding__Columna {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5em;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  font-family: $tipografia;
}

.contenedorCaja {
  display: flex;
  font-size: 10px;
  width: 100%;
  height: 30em;
  gap: 1.5em;
  overflow: hidden;
}

.contenedorCaja__caja {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.caja__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}


.caja__texto {
  background-color: rgba(0, 0, 0, 0.753);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  width: 100%;
  animation: escalinata 2s 20s infinite;
}
#caja1 {
  animation: escalinata 3s 2s, escalinata 2s 20s 3;
}
#caja2 {
  animation: escalinata 3s 5s, escalinata 2s 20s 3;
}
#caja3 {
  animation: escalinata 3s 8s, escalinata 2s 20s 3;
}
#caja4 {
  animation: escalinata 3s 11s, escalinata 2s 20s 3;
}

@keyframes escalinata {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.Columna__contenedorCartel{
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.contenedorCartel__filaCartel{
  display: flex;
  justify-content: center;  
  flex: 1;

}
.filaCartel__cartel{
  
  background-color: $colorCartelVuelo;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 3em;
  

}

.cartel__texto{
  
  font-size: 3em;
  
}




.footer {
  width: 100%;
  height: 300px;
  background-color: $colorPrimario;
  font-size: 10px;
  display: flex;
  border-radius: 15px;
  margin-top: 7em;
  
}
.footer__carrusel {
  flex: 6;
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  
  @media (max-width: 767.98px){
  	overflow-x: scroll;
    

  }
}
.carrusel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}
.carrusel__img--primera{
  animation: desplazamientoCarrusel 30s infinite;

}
@keyframes desplazamientoCarrusel {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  80% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}

.footer__botonera {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 1em;
  justify-content: center;
  flex-direction: column;
  flex: 4;
  font-family: $tipografia;
}
.botonera__boton {
  background-color: aliceblue;
  width: 70%;
  border-radius: 15px;
  padding: 2em;
  font-size: 10px;
  cursor: pointer;
}

.botonera__boton h4 {
  font-size: 2em;
  text-align: center;
}

//---------------------------------------------------------------------------------------------------estilos nuestras noticias

.seccionNoticias{
  height: 100vh;
  display: flex; 
  margin: 0 auto;
  flex-direction: column;
  background-image: url(img/Montañas1.svg);
  background-size: cover;
}
.seccionNoticias__contenedorNoticia{
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.contenedorNoticia__bloque{
  width: 50%;
  height: 80%;
  border-radius: 15px;
  background-color: $colorPrimarioSuave;
  

}
.seccionNoticias__seleccionador{
  flex: 2;
  background-color: $colorPrimarioSuave;
  border-radius: 15px;
  display: flex;


}
.seleccionador__boton{
  flex: 1;
}
#boton1{
  background-image: url(https://cdn.pixabay.com/photo/2020/02/27/20/48/aircraft-4885805_1280.jpg);
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 12px;           
}


body::-webkit-scrollbar-thumb {
  background-color: $colorPrimario;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  
}